@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}


img {
    display: block;
}


/*Control Panel*/

.control-panel {
    background-color:#385959;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 670px;
    height: 50px;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-color: #2e4646;
}

.customize-button {
    background-color:#385959;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-left: solid 2px;
    border-right: solid 2px;
    border-left-color: #2e4646;
    border-right-color: #2e4646;
    
}

.customize-button:hover {
    background-color: #528484;
}

#menu-label {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
}

#change-order {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}


#change-theme {
    width: 100%;
    padding-left: 38px;
    padding-right: 39px;
}

#change-view {
    padding-left: 10px;
    padding-right: 10px;
}

.customize-option {
    display: inline-block;
    max-width:30%;
    margin: 0;
}

/*Article order selector*/

#article-order-menu {
    display: none;
}

#article-order-selector {
    background-color: gray;
    position: fixed;
    width: 400px;
    height:400px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6000;
    border-style: solid;
    border-color: white;
}

#reorder-button {
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

#default-order {
    font-size: 20px;
    margin-left: 35px;
}

#close-order-menu {
    float: left;
    margin-left: 10px;
    font-size: 20px;
}

.article-dropdown {
    float: right;
    font-size: 20px;
}

.select-article {
    height: 40px;
    font-size: 20px;
    padding: 10px;
}

#dark-translucent-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}

/*Newspaper Content*/

.header-div {
    display: flex;
    flex-direction: column;
}

#news-header {
    width: 100%;
    height: auto;
    background-color: #385959;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    border-bottom: solid 5px;
    border-bottom-color: #2e4646;
    border-top: solid 5px;
    border-top-color: #2e4646;
    margin-bottom: 0;
    padding-bottom: 10px;
}

#date-header {
    width: 100%;
    height: auto;
    background-color: #385959;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    border-bottom: solid 5px;
    border-bottom-color: #2e4646;
    margin-bottom: 20px;
}


#all-articles-div {
    padding-left: 20px;
    padding-right: 32px;
}

#newspaper-title {
    font-size: 90px;
    margin: 5px;
}

#date {
    font-size: 16px;
    margin: 10px;
}



.article-img {
    border-radius: 15px;
    box-shadow: 2px 2px grey;
    height: 100px;
    width: 200px;
    margin: 10px;
    object-fit: cover;
    
}

.article-author {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.articles {
    margin: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #385959;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 20px;

}

.articles .article-content {
    padding: 15px;
}

.article-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.article-title:hover {
    color: #4ca6a6;
}

.article-body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: justify;
}

/*Article 1*/

#article-1 {
    margin-bottom: 5px;
    border-style: solid;
}


#article-1 .article-title-div {
    margin-left: 20px;
}

#article-1 .article-title {
    font-size: 72px;
}


#article-1 .article-author {
    font-size: 22px;
}

#article-1 .article-body-div {
    width: 95%;
    margin: 10px;
}

#article-1-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 10px;
}

#article-1 .article-content {
    width: 100%;
    height: auto;
    padding:10px;
    text-overflow: ellipsis;
}

/*Article 2*/

#article-2-3-4 {
    display: inline;

}
#article-2-3 {
    width: 100%;
    height: auto;
    margin-right: 5px;
    float: left;
}

#article-2 {
    background-color: white;
    height: auto;
    margin-bottom: 8px;
}

#article-2 .article-title {
    font-size: 32px;
    margin: 10px;

}

#article-2 .article-author {
    margin-top: 10px;
    font-size: 16px;
}

#article-2 .article-body-div {
    margin: 10px;
}

#article-2-img {
    float: left;
}
/*Article 3*/

#article-3 {
    float:left;
    background-color: white;
    height: auto;
}

#article-3 .article-title {
    font-size: 34px;
    margin: 10px;
}

#article-3 .article-author {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

#article-3-img {
    float: right;
    margin-left: 15px;
}

/*Article 4*/

#article-4 {
    float:left;
    height: auto;
}

#article-4 .article-title {
    font-size: 32px;
    margin: 10px;
}

#article-4 .article-author {
    margin-top: 10px;
    font-size: 16px;
}

#article-4 .article-body-div {
    margin: 10px;
    width: 81%;
    float: right;
}

#article-4-img {
    float: left;
}

/*Article 5*/

#article-5 {
    background-color: white;
    float: left;
    padding-bottom: 10px;
    height: auto;
}

#article-5 .article-title {
    font-size: 28px;
    margin: 10px;
}

#article-5 .article-author {
    margin-top: 10px;
    font-size: 16px;
}


#article-5 .article-body-div {
    margin: 10px;
    width: 81%;
    float: left;

}

#article-5-img {
    float: right;
}

/*Article 6*/

#article-6 {
    background-color: white;
    float:left;
    padding-bottom: 10px;
    height: auto;
    margin-bottom: 60px;
}

#article-6 .article-title {
    font-size: 28px;
    margin: 10px;
}

#article-6 .article-author {
    margin: 10px;
    font-size: 16px;
}

#article-6 .article-body-div {
    margin: 10px;
    width: 81%;
    float: right;

}

#article-6-img {
    float: left;
}

#article-5-6 {
    display: inline;
}