.control-panel {
    background-color: gray;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 45%;
    height: 50px;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
}

.customize-button {
    background-color: gray;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    
}

img {
    display: block;
    width: 50%;
    margin: auto;
}

.customize-button:hover {
    background-color: darkgray;
}

#change-order {
    padding-left: 30px;
    padding-right: 30px;
}

#article-order-menu {
    display: none;
}

#article-order-selector {
    background-color: gray;
    position: fixed;
    width: 400px;
    height:400px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6000;
    border-style: solid;
    border-color: white;
}

#reorder-button {
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

#default-order {
    font-size: 20px;
    margin-left: 35px;
}

#close-order-menu {
    float: left;
    margin-left: 10px;
    font-size: 20px;
}

.article-dropdown {
    float: right;
    font-size: 20px;
}

.select-article {
    height: 40px;
    font-size: 20px;
    padding: 10px;
}

#dark-translucent-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}

#change-theme {
    padding-left: 25px;
    padding-right: 25px;
}

.customize-option {
    display: inline-block;
}

.article-author {
    column-span: all;
    margin: 5px;
}

.articles {
    margin: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    box-shadow: 2px 4px gray;
}

.articles .article-content {
    padding: 10px;
}

.article-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#article-1 .article-title {
    font-size: 100px;
    margin: 10px;
}

.article-title:hover {
    color: blue;
}

.article-body {
    margin: 0;
    padding: 0;
}

#article-1 {
    margin-bottom: 5px;
    border-style: solid;
    box-shadow: 2px 4px gray;
}

#menu-label {
    padding-right: 10px;
    padding-left: 10px;
}

#article-1-img {
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 750px;
}

#article-1 .article-content {
    width: 100%;
    height: auto;
    column-count: 4;
    padding:10px;
    text-overflow: ellipsis;
}

#article-2 {
    background-color: white;
    float: left;
    width: 74%;
    height: 244px;
}

#article-2 .article-content {
    column-count: 3;
    overflow: hidden;
}

#article-2-img {
    max-height: 200px;
    width: 280px;
    display: block;
    float: right;
    margin: 10px;
}

#article-3 {
    float: right;
    width: 24%;
    height: 500px;
}

#article-3-img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-height: 150px;
}

#article-4 {
    background-color: white;
    float: left;
    width: 74%;
    height: 244px;
}

#article-4-img {
    float: left;
    height: 160px;
    width: auto;
    margin: 10px;
}

#article-4 .article-body-div {
    column-count: 2;
    margin: 10px;
}

#article-5 {
    background-color: white;
    width: 49%;
    float: left;

}

#article-5 .article-content {
    column-count: 2;
}

#article-6 {
    background-color: white;
    width: 49%;
    float: right;
    margin-bottom: 60px;
}

#article-6 .article-content {
    column-count: 2;
}