@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    color: #121212;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    background-image: none;

}

body {
    background-image: url(../Pictures/classic_bg_light.png);
}

.header {     
    width: 100%;
    height: 70px;
    background-color: #385959;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-style: solid;
    border-color: #2e4646;
}

.newspaper-title {
    color: black;
    font-size: 32px;
}

.article {
    width: 75%;
    margin-top: 15px;
    border-style: solid;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.article-category {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 32px;
    color:#385959;
}

.article-title {
    font-size: 52px;
    margin-bottom: 0;
    margin-top: 0;
}

.article-author {
    font-size: 18px;
}

.article-img {
    display: block;
    width: 100%;
    height: auto;
}

.article-img-caption {
    margin-top: 10px;
    font-size: 18px;
    color: #808080;
}

.article-opening {
    font-size: 22px;
    font-weight: bold;
}


.article-body {
    font-size: 22px;
}


.control-panel {
    background-color:#385959;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 670px;
    height: 50px;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-color: #2e4646;
}

.customize-button {
    background-color:#385959;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-left: solid 2px;
    border-right: solid 2px;
    border-left-color: #2e4646;
    border-right-color: #2e4646;
    
}

.customize-button:hover {
    background-color: #528484;
}

#menu-label {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
}

#change-order {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}


#change-theme {
    width: 100%;
    padding-left: 38px;
    padding-right: 39px;
}

#change-view {
    padding-left: 13px;
    padding-right: 14px;
}

.customize-option {
    display: inline-block;
    max-width:30%;
    margin: 0;
}

/*Article order selector*/

#article-order-menu {
    display: none;
}

#article-order-selector {
    background-color: gray;
    position: fixed;
    width: 400px;
    height:400px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6000;
    border-style: solid;
    border-color: white;
}

#reorder-button {
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

#default-order {
    font-size: 20px;
    margin-left: 35px;
}

#close-order-menu {
    float: left;
    margin-left: 10px;
    font-size: 20px;
}

.article-dropdown {
    float: right;
    font-size: 20px;
}

.select-article {
    height: 40px;
    font-size: 20px;
    padding: 10px;
}

#dark-translucent-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}